html{
    scroll-behavior: smooth;
}
body{
    font-family: Montserrat light;
}
/* Header */
.text h2{
    color: #000;
}
.menu{
    float: right;
    
}
.menu ul li a:hover{
    background-color: #d7fcff;
    padding: 5px;
    margin: 0px;
}
.menu ul {
    list-style-type: none;
    padding: 10px;
    margin-right: 50px;
    
}
ul{
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
    padding: 0;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    
}
.menu ul li .contact{
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    background-color: #d7fcff;
    text-decoration: none;
    color: #00c3ff;
    
}
.menu ul li .contact a{
    padding: 10px 15px 10px 15px;
    background-color: #d7fcff;
    margin: 0px;
}
/* end of header */
section {
    position: relative;
}
/* .image{
    position: absolute;
} */

h1{
    font-family: Montserrat light;
    color: #ffffff;
       
}
h2{
    font-family: Montserrat light;
       
}
nav{
    
}
.section #home{
    position: fixed;
    top: 0px;
}
.text{
    padding-top: 20px;
    margin-left: 30px;
}
.text2{
    margin-top: 100px;  
    
}
.text2 h1{
    color:#10a7ff;
}
.look{
    margin-top: 50px;
    
    
}
.look h5 a{
    padding:20px 15px 20px 15px;
    border: 3px solid #109ef1;
    border-radius: 10px;
    font-family: Montserrat light;
    color: #10a7ff;
    text-decoration: none;    
 }
  

.image-head img{
    width: 500px;
    border-radius: 15px;
    height: 500px;
    /* -webkit-clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%); */
    object-fit: cover;

}

 
 .profile-image img{
     display: inline-block;
     width: 150px;
     height: 150px;
     object-fit: cover;
     -webkit-clip-path: circle(47.9% at 50% 50%);
     clip-path: circle(47.9% at 50% 50%);

 }
 .logobawah img{
    float: left;
     width: 150px;
     height: 150px;
     object-fit: cover;
     
     -webkit-clip-path: circle(47.9% at 50% 50%);
     clip-path: circle(47.9% at 50% 50%);

 }
 .desc{
     margin-top: 20px;
     text-indent: 30px;
     margin-left: 20px;
 }
 .image-skill img{
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 85% 100%, 0% 100%);
    width: 400px;
    height: 200px;
 }
 .skill ul li h5{
     display: inline-block;
     color: rgb(1, 175, 255);
     text-align: center;
     overflow: hidden;
 }
 .skill ul li .back-bar{
    float: right;
    width: 480px;
    overflow: hidden;
    height: 15px;
    background-color: #dfdfdf;
    margin-left: 50px;
    border-radius: 30px;
 }
 @media screen and (max-width:1024px){
    .skill ul li .back-bar{
        clear: right;
        width: 400px;
        height: 15px;
        margin: 0;

    }
 }
 @media screen and (max-width:375px){
    .skill ul li .back-bar{
        clear: right;
        overflow: hidden;
        width: 200px;
        height: 15px;
        margin: 0;

    }
 }
 .skill ul li p{  
    font-size: 12px;
    margin:0;
    padding: 0;
    overflow: hidden;
 }
 .skill ul li .bar1{
     display: inline-block;
    width: 70%;
    height: 15px;
    margin:0;
    padding: 0;
    background-color: rgb(1, 175, 255);
    border-radius: 30px;
 }
 .skill ul li .bar2{
     display: inline-block;
    width: 50%;
    height: 15px;
    margin:0;
    padding: 0;
    background-color: rgb(1, 175, 255);
    border-radius: 30px;
 }
 .skill ul li .bar3{
    display: inline-block;
    width: 40%;
    height: 15px;
    margin:0;
    padding: 0;
    background-color: rgb(1, 175, 255);
    border-radius: 30px;
 }
 .skill ul li .bar4{
     display: inline-block;
    width: 50%;
    height: 15px;
    background-color: rgb(1, 175, 255);
    border-radius: 30px;
    margin:0;
    padding: 0;
 }
 .skill ul li .bar5{
     display: inline-block;
    width: 30%;
    height: 15px;
    background-color: rgb(1, 175, 255);
    border-radius: 30px;
    margin:0px;
    padding: 0px;
 }
 .logobawah{
     margin-top: 10px;
     float: left;


 }
 .logobawah h6{
     font-weight: bolder;
    float: left;
    margin-left: 20px;
 }
 .logobawah i{
     float: left;
     color: rgb(1, 175, 255);
 }
 .sosmed {
    float: left;
 }
 /* instagram */
